/.dist
/.vscode
/1045.cpp
/1045.exe
/1045.o
/array.c
/array.exe
/cin.cpp
/imprimindoCaracteres.exe
/imprimindoCaracteres.o
/ordenacao simples
/ordenacaoSimples.cpp
/solve.exe
/StructePonteiros.c
/StructePonteiros.exe